* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

:root {
    --font-family: 'Spirax', sans-serif;
    --font-size-article-h1: 50px; 
    --navbar-color:rgba(43, 28, 35, 0.863);
    --color-standard: antiquewhite;
    --border-bottom-standard: 10px solid rgba(43, 28, 35, 0.863);
    --box-background-standard: rgba(0, 0, 0, 0.8);
    --article-background-standard: rgb(138, 0, 0, 0.8);
    --h1-color-standard: darkred;
    --padding-left-side: 60px;
    --padding-right-side: 60px;
}

.navbar {
    background-color: var(--navbar-color);
    display: flex;
    gap: 40px;
    justify-content: center;
    /* padding block - top och under */
    padding-block: 10px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}

.link {
    color: var(--color-standard);
    font-size: 30px;
    text-decoration: none;
    font-family: var(--font-family);
    text-decoration: none;
}

section {
    align-items: center;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content:center;
    height: 100vh;
}

/* this a more advanced selector, it brabs every h1 tag that is a child element to and article ta */
article h1 {
    color: var(--h1-color-standard);
    font-family: var(--font-family);
    font-size: var(--font-size-article-h1);
    text-align: center;
}

article {
    font-family: var(--font-family);
    color: var(--color-standard);
}

article p {
    background-color: var(--article-background-standard);
    color: var(--color-standard);
    margin-block: 20px;
    padding: 10px 20px;
    text-align: center;
    position: relative;
}

.hot {
    background-image: url(caffe-retro-assets/hot.jpg);
}

.juicy {
    background-image: url(caffe-retro-assets/juicy.jpg);
}

.cosy {
    background-image: url(caffe-retro-assets/cosy.jpg);
}

.row {
    display: flex;
    justify-content: space-between;
}

.box {
    background-color: var(--box-background-standard);
    padding: 10px 40px;
}

.p-1{
    right: var(--padding-right-side);
}

.p-2{
    left: var(--padding-left-side);
}

.hot, .juicy {
    border-bottom: var(--border-bottom-standard)
}


